<app-not-found [visible]="!cart || cart.items.length <= 0" notFoundMessage="Add something to your cart you dummy!!!😜" resetLinkText="Go to home page"></app-not-found>
<div *ngIf="cart && cart.items.length >0" class="container">
  <ul>
      <li *ngFor="let cartItem of cart.items">
          <div>
              <img [src]="cartItem.product.imageUrl" [alt]="cartItem.product.name">
          </div>
          <div>
              <a routerLink="/product/{{cartItem.product.id}}">
                  {{cartItem.product.name}}
              </a>
          </div>

          <div>
              <select #quantitySelect (change)="changeQuantity(cartItem,quantitySelect.value)">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
          </div>

          <div>
              {{cartItem.price | currency:'EUR'}}
          </div>

          <div>
              <button class="remove-button" (click)="removeFromCart(cartItem)">
                  Remove
              </button>
          </div>
      </li>
  </ul>

  <div class="checkout">
      <div>
          <div class="foods-count">{{cart.items.length}}</div>
          <div class="total-price">{{cart.totalPrice| currency:'EUR'}}</div>
      </div>
  </div>

</div>
